<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mystyles.css') }}">
        <title>My Movies</title>
    </head>
    <body>
        <header class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-xs-12 col-sm-8">
                        <span class="title-text"><strong>MY MOVIES</strong></span>
                        <p style="padding:40px;"></p>
                        <p class="description">This is a simple app that allows listing, adding, removing and updating Movies.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p style="padding:20px;"></p>
                        <img src="{{ asset('assets/img/img_film.png') }}" class="img-responsive film-img">
                    </div>
                </div>
            </div>
        </header>

        <!-- Add the movies that were passed from the controller -->
        <div class="container">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-9">
                    <div class="table-responsive">
                        <table class="table table-striped" id="app-movies-table">
                            <thead>
                                <tr>
                                    <th>Movie Name</th>
                                    <th>Release Year</th>
                                    <th>Rating</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for movie in movies %}
                                    <tr movie-id="{{movie.getMovieId()}}">
                                        <td class="movie_name">{{movie.getMovieName()}}</td>
                                        <td class="release_year">
                                            {% if movie.getReleaseYear() %}
                                               {{movie.getReleaseYear()}}
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                        <td class="rating">
                                            {% if movie.getRating() %}
                                                {{movie.getRating()}}
                                            {% else %}
                                                --
                                           {% endif %}
                                        </td>

                                    <td>
                                        <div movie-id="{{movie.getMovieId()}}" movie-name="{{movie.getMovieName()}}" release-year="{{movie.getReleaseYear()}}" rating="{{movie.getRating()}}">
                                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span><a href="#" class="app-remove-movie"> Remove</a>
                                            <span class="separator"> | </span>
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><a href="#" class="app-edit-movie"> Update</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />

            <div class="row row-content">
                <div class="col-xs-12 col-sm-9">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#moviesModal" id="btn-add-new">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new Movie
                </button>
                </div>
            </div>

            <br />

            <footer class="row-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1">
                            <strong>Author: Andrea Carolina Alarcon</strong>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div class="modal fade" id="moviesModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Insert/update Movies</h4>
                    </div>
                    
                    <div class="modal-body">
                        <form class="form-horizontal" id="form-movies" method="post">
                            <div class="form-group">
                                <label for="movie-name" class="col-sm-4 control-label">Movie Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="movie-name" name="movie_name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="release-year" class="col-sm-4 control-label">Release year:</label>
                                <div class="col-sm-8">
                                    <input type="text" maxlength="4" class="form-control" id="release-year" name="release_year"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rating" class="col-sm-4 control-label">Rating:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" min="1" max="5" step="1" id="rating" name="rating"></textarea>
                                </div>
                            </div>
                            <input class="hide" type="text" name="movie_id" id="movie-id">
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="app-cancel-movie">Close</button>
                        <button type="button" class="btn btn-primary" id="app-save-movie">Save changes</button>
                    </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>

{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/modal.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery.validate.min.js') }}"></script>
{% endjavascripts %}

<script>

    // Start validation for the Movies form (in modal)
    $('#form-movies').validate();

    // Add listener for the remove link
    $('#app-movies-table').on('click', '.app-remove-movie', function(e) {

        var self = this;

        // Get the id of the movie to be deleted
        var movieId = $(this).parent().attr('movie-id');

        // Prepare data for the ajax call
        var data_delete = {
            movieId: movieId,
            action:  'delete'
        };

        // Get form's data and perform ajax request
        $.ajax({
            type:    'POST',
            dataType: 'JSON',
            data:    data_delete,
            success: function(data, textStatus, request) {
                // Raw alert. This should be clearly improved to use some great plugin
                alert(data.cause);

                if (data.success) {

                    // The delete was completed successfully, remove the row from the DOM
                    $(self).closest('tr').remove();
                }
            }
        });
    });

    // Click for submitting movies form
    $('#app-save-movie').on('click', function(e) {
        e.preventDefault();

        var form = $('#form-movies');

        // Validate form
        if (!form.valid()) {
            return;
        }

        movieId = $('#movie-id').val();

        // Build the object with values
        var data_form = {
            movieName:   $('#movie-name').val(),
            releaseYear: $('#release-year').val(),
            rating:      $('#rating').val(),
            movieId:     movieId,
            action:      (movieId) ? 'edit' : 'insert'
        };

        // Get form's data and perform ajax request
        $.ajax({
            type:    'POST',
            dataType: 'JSON',
            data:    data_form,
            success: function(data, textStatus, request) {

                // Validate response
                if (data.success) {

                    // Notify the user
                    alert(data.cause);

                    // ON update, update the fields. On insert, refresh the page
                    if (data_form == 'edit') {

                        var parentTr = $('tr[movie-id="' + data_form.movieId + '"');
                        
                        // Set values for the list
                        $('tr td.movie-name').val(data_form.movieName);
                        $('tr td.release-year').val((data_form.movieName) ? data_form.releaseYear : '--');
                        $('tr td.rating').val((data_form.rating) ? data_form.rating : '--');

                        // Hide modal
                        $('#moviesModal').modal('hide');
                    } else {
                        location.reload();
                    }

                } else {

                    // Something failed, notify the user
                    alert(data.cause);
                }
            }
        });
    });

    // Reset modal on hide
    $('#moviesModal ').on('hidden.bs.modal', function () {
        $('#form-movies')[0].reset();
        $('#form-movies').validate().resetForm();
    });

    // Add listener for the update link
    $('#app-movies-table').on('click', '.app-edit-movie', function(e) {

        var parentDiv = $(this).parent('div');
        
        // Set values on the bootstrap modal
        $('#movie-name').val(parentDiv.attr('movie-name'));
        $('#release-year').val(parentDiv.attr('release-year'));
        $('#rating').val(parentDiv.attr('rating'));
        $('#movie-id').val(parentDiv.attr('movie-id'));

        // Show the modal
        $('#moviesModal').modal('show');
    });

</script>